<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.37/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/js/Visa11.js" language="javascript" type="text/javascript"></script>
    <script src="/js/Step2s.js" language="javascript" type="text/javascript"></script>


    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap-nav-wizard.css" type="text/css">
    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/JavaScript.js" language="javascript" type="text/javascript"></script>
    <script src="~/js/JsStep1.js" language="javascript" type="text/javascript"></script>
    <script src="~/js/Step3.js" language="javascript" type="text/javascript"></script>
    <script src="~/js/myJs.js" language="javascript" type="text/javascript"></script>
    <script src="~/js/moment.js" language="javascript" type="text/javascript"></script>
    <script src="~/js/jquery.dropdown.js" language="javascript" type="text/javascript"></script>


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Material Design fonts -->
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://docs.jquery.com/Plugins/Validation" rel="stylesheet">
    <!-- Bootstrap Material Design -->
    <link href="~/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="~/css/snackbar.css" rel="stylesheet">
    <link href="~/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="~/css/ripples.min.css" rel="stylesheet">
    <link href="~/css/jquery.dropdown.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <!-- Dropdown.js -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">
    <!--full modal -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">*@
    <!-- Page style -->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/MyStyle.css" rel="stylesheet">
    <link href="~/css/styleVisa.css"  rel="stylesheet" />
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <!-- cdn for modernizr, if you haven't included it already -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
    <!-- polyfiller file to detect and load polyfills -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>

</head>
<body>
<div >
    @RenderBody()

</div>
<footer>
    @*<div style="width: 100%; height: 100px;background: forestgreen"></div>*@
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<!-- Material Design for Bootstrap -->
<script src="~/js/material.js"></script>
<script src="~/js/snackbar.min.js"></script>
<script src="~/js/ripples.min.js"></script>
<script>
    $.material.init();
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
</script>
</body>

</html>
<script>
    webshims.setOptions('waitReady', false);
    webshims.setOptions('forms-ext', {types: 'date'});
    webshims.polyfill('forms forms-ext');
</script>
